## 可变：
## datadir|tmpdir|socket|pid-file|log_error|server-id|log-bin|relay_log
## innodb_buffer_pool_size|innodb_buffer_pool_instances|innodb_buffer_pool_chunk_size|innodb_log_group_home_dir
## slow_query_log_file

[client]
# 可变
socket=/mysqldata/mysql3306/mysql.sock         # 客户机连接服务器所使用的socket

[mysql]
default-character-set=utf8mb4                   # mysql实例中使用的字符集类型
auto-rehash					# mysql支持表名，列名补全，但是影响客户端初始化速度
## 开启实例前需要建立data,tmp,log三个文件夹
## 对文件夹赋予744权限并设置属主为mysql.mysql

# 可变
[mysqld3306]

# 可变
port=3306                                       # 开启实例服务的端口号
log_timestamps=SYSTEM                           # 日志中记录时间来源
basedir=/usr/local/mysql                        # mysql的安装路径

# 可变,且需要自己创建东西
datadir=/mysqldata/mysql3306/data            # 表空间存放位置
tmpdir=/mysqldata/mysql3306/tmp              # 临时文件存放位置
socket=/mysqldata/mysql3306/mysql.sock  # 服务socket位置
log_error=/mysqldata/mysql3306/log/mysqld.log # 服务错误日志路径
pid-file=/mysqldata/mysql3306/mysql.pid  # 服务进程号暂存文件

secure_file_priv=                               # （等号后面没有则默认None）
 
 # 可变
server-id=330602                                # 主备多库需要唯一标识，一般格式端口号+ip后两段

transaction-isolation=READ-COMMITTED           # 事务隔离级别
character_set_server=utf8mb4                    # 服务使用字符集
open_files_limit=65535                          # MySQL允许打开文件句柄最大值（数据库级别，需配合OS级别设置）
lower_case_table_names=1
max_connections=200                             # 最大进程连接数
max_connect_errors=100000000
connect_timeout=10
lock_wait_timeout=3600                          # 锁等待超时时间
wait_timeout=86400
interactive_timeout=86400
max_allowed_packet=64M
thread_cache_size=512

## MySQL查询语句模式
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO

## ONLY_FULL_GROUP_BY            对于GROUP_BY聚合操作，如果在SELECT中的列既没有在GROUP_BY中出现，
##                               本身也不是聚合列（使用SUM，ANG等修饰的列），那么SQL不合法，因为那一列是不确定的。
## STRICT_TRANS_TABLES           如果一个值不能插入到一个事务表中，则中断当前的操作
## NO_ZERO_IN_DATE               日期中的任意一项不能为零值（0001-00-00）IGNORE忽略
## NO_ZERO_DATE                  日期不能全为零值（0000-00-00）IGNORE忽略
## ERROR_FOR_DIVISION_BY_ZERO    除数为零时报错
## NO_AUTO_CREATE_USER           
## NO_ENGINE_SUBSTITUTION

# plugin_load="rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
# rpl_semi_sync_master_enabled=1
# rpl_semi_sync_slave_enabled=1
# rpl_semi_sync_master_wait_for_slave_count=10000000000
# rpl_semi_sync_master_wait_no_slave=1
# rpl_semi_sync_master_timeout=1000000000
 
## binlog 配置
binlog_format=row                               # statement/row/mixedbin
binlog_row_image=full

# 可变
log-bin=/mysqllog/mysql3306/binlog/mysql-bin   # binlog文件位置      

max_binlog_size=1G
expire_logs_days=7
binlog_error_action=ABORT_SERVER
# binlog_rows_query_log_events=1

## relaylog 配置
log_slave_updates=1

# 可变
relay_log=/mysqllog/mysql3306/relaylog/mysql-relay # relaylog文件位置

max_relay_log_size=1G                          # relaylog文件大小
relay_log_purge=0
relay_log_recovery=1
master_info_repository=TABLE
relay_log_info_repository=TABLE
# skip_slave_start

# 可变
report_host=192.168.59.2                         # 其他库连接时该服务的主机名
report_port=3306                                # 其他库连接时该服务的端口号

## 两段式提交设置（推荐双一配置）
sync_binlog=1                                   # binlog落盘设置
innodb_flush_log_at_trx_commit=1                # redolog落盘设置

innodb_buffer_pool_size=1024M                    # InnoDB引擎缓冲池大小，线程共享
# innodb_buffer_pool_instances=4                  # 缓冲池拆分实例数目（用于提高MySQL并发性，减少线程读写页面竞争）
# innodb_buffer_pool_chunk_size=128M              # Chunk用于支持online buffer pool resize（默认128M）
## 关系：innodb_buffer_pool_size = innodb_buffer_pool_chunk_size * innodb_buffer_pool_instances
innodb_sort_buffer_size=4M                      # 排序缓冲池大小（语句中出现排序时使用）
innodb_log_buffer_size=32M                      # redo log 缓存大小
innodb_log_file_size=1G                         # 单个redo log文件大小
innodb_log_files_in_group=4                     # redo log 组中文件数目
innodb_lock_wait_timeout=60
innodb_lock_group_home_dir=/mysqllog/mysql3306/data
innodb_io_capacity=1000
innodb_io_capacity_max=2000
innodb_file_per_table=1                         # 是否为每一个表开启独立的表空间（单表空间）
innodb_stats_persistent_sample_pages=64             
innodb_online_alter_log_max_size=1G
innodb_thread_concurrency=0                     # InnoDB可以并发使用最大线程
innodb_write_io_threads=16
innodb_read_io_threads=16
innodb_page_cleaners=16
innodb_flush_method=O_DIRECT                    # 刷新数据至数据/日志文件大的方法，影响I/O
## FSYNC                 使用fysnc()系统函数刷新数据/日志文件 ，默认参数
## O_DSYNC               使用O_SYNC函数打开/刷新日志文件，fsync()刷新数据文件
## O_DIRECT              使用O_DIRECT函数打开数据文件，fsync()刷新数据/日志文件
## O_DIRECT_NO_FSYNC     仅使用O_DIRECT函数进行刷新I/O
## 
innodb_monitor_enable=all
innodb_print_all_deadlocks=1
# innodb_status_output_locks=1
# innodb_fill_factor=100                          # 提升索引维护性能，数据页百分比留白，范围10～100默认100
# innodb_max_dirty_pages_pct                      # InnoDB 刷新脏页的比率, 即脏页占多少百分比开始进行刷脏页

gtid_mode=on
enforce_gtid_consistency=1
binlog_gtid_simple_recovery=1
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16
slave_preserve_commit_order=1
slave_transaction_retries=128
#show_compatibility_56=on

## undolog 配置
loose_innodb_numa_interleave=1
innodb_buffer_pool_dump_pct=40
# 可变
innodb_undo_directory=/mysqllog/mysql3306/log/  # undo表空间的物理目录
innodb_undo_logs=128                                # undo log 记录数目
innodb_undo_tablespaces=0                           # undo log 表空间中文件数目
innodb_undo_log_truncate=1                          # ，全局动态变量
innodb_max_undo_log_size=2G
innodb_purge_rseg_truncate_frequency=128

table_open_cache=2048
tmp_table_size=64M
max_heap_table_size=64M
sort_buffer_size=4M
join_buffer_size=4M
read_buffer_size=8M
read_rnd_buffer_size=4M
key_buffer_size=32M
bulk_insert_buffer_size=64M
binlog_cache_size=1M

## slowlog 配置
slow_query_log_file=/mysqldata/mysql3306/log/mysql-slow.log
slow_query_log=ON
long_query_time=1
log_output=file
log_slow_admin_statements=1
log_slave_slave_statements=1
log_throttle_queries_not_using_indexes=10

performance_schema=ON
performance-schema-instrument='wait/lock/metadata/sql/dml/memory=ON'

plugin-load-add=validate_password.so
validate-password=FORCE_PLUS_PERMANENT
validate_password_policy=MEDIUM

symbolic-links=0
skip-host-cache
skip-name-resolve
# skip-grant-tables

